.list,
.gbl-list,
.location-list,
.status-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-left: -2rem;
  margin-right: .5rem;
}

.location-list,
.status-list {
  background-color: #ffffff27;
  border: 1px solid #000;
  border-radius: 5px;
  margin: -.3rem 0 .5rem 0;
}

.list-item,
.gbl-group,
.location-item {
  display: flex;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: .2rem;
}

.location-item {
  margin-top: .2rem;
  margin-right: .1rem;
}

.item-element,
.gbl-item {
  flex: 1;
}

.gbl-sing,
.gbl-sing__type {
  text-align: right;
  padding-right: .8rem;
  cursor: pointer;
} 

.items-panel {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 10px;
}

.items-panel__header {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
}

.items-panel__body {
  max-height: 23.7rem;
  overflow: auto;
}

.change-page {
  text-decoration: none;
  color: #000;
}

.plus-minus {
  padding-right: 2rem;
  padding-top: .8rem;
}

.location-filter {
  padding-top: .7rem;
}

.command-center {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 5px;
  max-width: 33rem;
}

.command-center__header {
  display: flex;
  margin-bottom: 1rem;
}

.logo {
  border: 1px solid #000;
  border-radius: 5px;
  padding: .5rem;
  margin: .5rem;
}

.title {
  align-self: center;
  margin-left: 20%;
}

.command-center__sort-panel {
  display: flex;
  flex: 1;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 0 .5rem 1rem .5rem;
}

.sort-panel__status {
  text-align: right;
}

.label-status {
  margin-right: 54%;
}

.label-issue {
  margin-left: 3%;
}

.issue-type,
.issue-status {
  width: 70%;
}

.issue-type{
  margin-left: .3rem;
}

.issue-status {
  margin-right: .3rem;
}

.issue-date {
  width: 70%;
}

.sort-panel__date{
  display: flex;
  flex-direction: column;
}

.date-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: .3rem;
}

.command-center__body {
  margin: 0 .5rem 2rem .5rem;
}

.hidden {
  display: none;
}